@charset "UTF-8";

.border-chart {
    $chart-size: 8em;
    $chart-color: transparent;
    $chart-border-width: 2px;
    $chart-padding: .4em;
    $transition-speed: .3s;
    //POSITIONS
    $left-angle-base: 225deg;
    $right-angle-base: -135deg;
    position: relative;
    display: inline-block;
    font-size: $chart-size;
    //COLORS
    $value1-color: #4ac29f;
    $value2-color: #4ac29f;
    $value3-color: #4ac29f;
    $value4-color: #4ac29f;
    $value5-color: #4ac29f;
    $value6-color: #4ac29f;
    $this-color: $cyan;

    .circle {
        border-radius: 50%;
        transition: transform $transition-speed ease-out;
        width: 1em;
        height: 1em;
        // padding: $chart-padding;
        display: inline-block;
        border: $chart-border-width solid $navy;
        box-sizing: border-box;
    }
    .left-mask,
    .right-mask {
        position: absolute;
        z-index: 3;
        top: 0;
        width: 50% - 1;
        height: 100%;
        overflow: hidden;
        .circle {
            border-width: ($chart-border-width * 3);
            transform: rotate(225deg);
            position: absolute;
            top: 0;
            left: 0;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $this-color;
            border-left-color: $this-color;
        }
    }
    .right-mask {
        right: 0;
        left: auto;
        width: 50%;
        .circle {
            transform: rotate(-45deg);
            right: 0;
            left: auto;
            border-top-color: $this-color;
            border-right-color: $this-color;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
    .icon
    {
        position: relative;
        z-index: 2;
        &:before
        {
            font-size: .3em;
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .users-count
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .number
        {
            font-size: .3em;
            color: $cyan;
        }
        .label
        {
            font-size: .125em;
        }
    }

    @for $i from 0 through 100 {
        $percent-position: ((360/100) * $i);

        @if $i < 51 {
            &[aria-valuenow='#{$i}'] {
                .right-mask .circle {
                    transform: rotate($percent-position + $right-angle-base);
                }
            }
        } @else {
            &[aria-valuenow='#{$i}'] {
                .right-mask .circle {
                    transform: rotate(((360/100) * 50) + $right-angle-base);
                    transition-timing-function: linear;
                }
                .left-mask {
                    animation: adjustPosition 0s linear forwards $transition-speed;
                    .circle {
                        transform: rotate(($percent-position + 45) + deg);
                        transition-duration: $transition-speed * ($i / 100);
                        transition-delay: $transition-speed;
                    }
                }
            }
        }
    }
    .border-chart_label
    {
        position: absolute;
        left: -100%;
        height: 0;
        overflow: hidden;
        text-indent: -9000px;
    }
}

.border-chart-value
{
    font-size: 1em;
    display: block;
    line-height: 1em;
    padding: .6em 0;
    border-radius: .2em;
    background-color: $navy;
}

@keyframes adjustPosition {
    0% {
        width: 50% - 1;
    }
    100% {
        width: 50% + 1;
    }
}