<div class="row">
	<div class="jumbotron text-center col-lg-4">
		<h1>{{ q1.q1.title }}</h1>

	</div>
	<div class="text-center col-lg-8">
		<div class="col-lg-1" style="background-color:white;height:180px;margin-top:80px;margin-right:50px"></div>
		<div class="col-lg-1" style="background-color:black;height:200px;margin-top:60px;margin-right:50px;"></div>
		<div class="col-lg-1" style="background-color:white;height:180px;margin-top:80px;margin-right:50px"></div>
		<div class="col-lg-1" style="background-color:black;height:200px;margin-top:60px;margin-right:50px;"></div>
		<div class="col-lg-1" style="background-color:green;height:200px;margin-top:60px;margin-right:50px;"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4"><p>Valoraciones ====></p></div>
	<div class="text-center col-lg-8">
		<div id="val1" class="col-lg-1" style="margin-right:50px;">0</div>
		<div id="val2" class="col-lg-1" style="margin-right:50px;">0</div>
		<div id="val3" class="col-lg-1" style="margin-right:50px;">0</div>
		<div id="val4" class="col-lg-1" style="margin-right:50px;">0</div>
		<div id="val5" class="col-lg-1" style="margin-right:50px;">0</div>
	</div>
</div>
