<section class="poll_client-content active">
	<h2 class="poll_client-title">{{commentText.q.literal}}</h2>
	<article class="poll_client-msgtext fadeIn">
		<header>
			<h1>{{commentText.q.literalSelect}}</h1>
		</header>
		<section class="poll_client-textarea">
			<textarea placeholder="¿Qué opinas de la presentación? ¿Y del producto?" ng-model="commentText.comment" maxlength="140"></textarea>
		</section>
		<footer class="poll_client-button">
			<div role="button" ng-click="commentText.submitComment();main.addStartClass()" class="positive send-msg">Enviar comentario</div>
			<div role="button" ng-click="main.goToVoted()" class="secondary">Cancelar</div>
		</footer>
	</article>
	<footer>
		<p class="note">
			<strong>Nota:</strong> Máximo 140 caracteres
		</p>
	</footer>
</section>
