<section class="poll_client-content active">
	<h2 class="poll_client-title">Valora la demo del programa "Venta Digital"</h2>
	<article class="poll_client-msgtext fadeIn">
		<header>
			<h1>Algo que mejorar...</h1>
		</header>
		<section class="poll_client-textarea">
			<textarea></textarea>
		</section>
		<footer class="poll_client-button">
			<div role="button" ng-click="main.changeVote()" class="positive">Enviar comentario</div>
			<div role="button" ng-click="main.changeVote()" class="simple">Mejor en otro momento</div>
		</footer>
	</article>
	<footer class="poll_client-button secondary">
		<div role="button" ng-click="main.changeVote()">Cambiar votación</div>
	</footer>
</section>
