<section class="poll_client-content active">
	<h1 class="poll_client-title">{{ q3.q3.title }}</h1>
	<article class="poll_client-rating">
		<ol class="poll_client-rating_stars">
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-0" name="rating" value="1">
				<label for="rating-0" ng-click="main.savePoll('r3','oneStar')">Rate it!</label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-1" name="rating" value="2">
				<label for="rating-1" ng-click="main.savePoll('r3','twoStar')">Rate it!</label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-2" name="rating" value="3">
				<label for="rating-2" ng-click="main.savePoll('r3','threeStar')">Rate it!</label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-3" name="rating" value="4">
				<label for="rating-3" ng-click="main.savePoll('r3','fourStar')">Rate it!</label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-4" name="rating" value="5">
				<label for="rating-4" ng-click="main.savePoll('r3','fiveStar')">Rate it!</label>
			</li>
		</ol>
	</article>
	<article class="poll_client-rating_button">
		<div ng-click="main.sendPoll()" role="button">Vote!</div>
	</article>
</section>