<!-- <div class="jumbotron text-center">
	<h1>{{ q0.q0.title }}</h1>
	<button ng-click="main.sendPoll($event,'results0',0)" value="1">One</button>
	<button ng-click="main.sendPoll($event,'results0',1)" value="1">Two</button>
	<button ng-click="main.sendPoll($event,'results0',2)" value="1">three</button>
	<button ng-click="main.sendPoll($event,'results0',3)" value="1">four</button>
	<button ng-click="main.sendPoll($event,'results0',4)" value="1">five</button>
</div> -->

<section class="poll_client-content active">
	<h1 class="poll_client-title">{{ q0.q0.title }}</h1>
	<article class="poll_client-rating">
		<ol class="poll_client-rating_stars">
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-0" name="rating" value="1">
				<label for="rating-0"></label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-1" name="rating" value="2">
				<label for="rating-1"></label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-2" name="rating" value="3">
				<label for="rating-2"></label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-3" name="rating" value="4">
				<label for="rating-3"></label>
			</li>
			<li class="poll_client-rating_option">
				<input type="radio" id="rating-4" name="rating" value="5">
				<label for="rating-4"></label>
			</li>
		</ol>
	</article>
	<article class="poll_client-rating_button">
		<div role="button">Vote!</div>
	</article>
	
</section>