<section class="poll_client-content active">
	<h2 class="poll_client-title">Valora la demo del programa "Venta Digital"</h2>
	<article class="poll_client-msgtext">
		<header>
			<h1>Algo que mejorar...</h1>
		</header>
		<section class="poll_client-textarea">
			<textarea cols="20">
			</textarea>
		</section>
		<footer class="poll_client-button">
			<div role="button" ng-click="main.changeVote()" class="positive">¡Comentar!</div>
			<div role="button" ng-click="main.changeVote()" class="simple">Mejor en otro momento</div>
		</footer>
	</article>
	<footer class="poll_client-button secondary">
		<div role="button" ng-click="main.changeVote()">Cambiar votación</div>
	</footer>
</section>


<!-- <section class="poll_client-content active">
	<header>
		<h1 class="poll_client-title">Valora la demo del programa "Venta Digital"</h1>
		<h2 class="poll_client-subtitle">Gracias por votar. ¿Tienes algo que aportar?</h2>
	</header>
	<article class="poll_client-comment_buttons">
		<ul>
			<li>
				<a href="#">
					<img src="sources/img/seguir_icon.svg" role="button">
					<p><em>Seguir</em><br/>haciendo</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="sources/img/dejar_icon.svg" role="button">
					<p><em>Dejar</em><br />de hacer</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="sources/img/sugerir_icon.svg" role="button">
					<p><em>Sugerir</em><br />una idea</p>
				</a>
			</li>
		</ul>
	</article>
	<footer class="poll_client-button">
		<div role="button" ng-click="main.changeVote()" class="secondary">Mejor en otro momento</div>
	</footer>

</section> -->



<!-- <section class="poll_client-content active">
	<h2 class="poll_client-title">Encuesta demo PI04</h2>
	<article>
		<p class="txt_size-medium">Gracias por votar</p>
	</article>
	<article class="poll_client-rating_button">
		<div role="button" ng-click="main.changeVote()">¿Quieres cambiar tu votación?</div>
	</article>
</section> -->
