/* DELETE THIS @IMPORT BEFORE PUBLISHING*/
@import "compass/reset";

$color1: #0078D2;
$color2: #c4126c;

@charset "UTF-8";

/* DON'T FORGET TO USE AN AUTO-PREFIXER FOR THIS SCSS BEFORE PUBLISHING!! */
.border-chart {
    $chart-size: 10px;
    $chart-color: transparent;
    $transition-speed: .4s;
    //POSITIONS
    $left-angle-base: 225deg;
    $right-angle-base: -135deg;
    position: relative;
    display: inline-block;
    font-size: 10px;
    .circle {
        border-radius: 50%;
        transition: transform $transition-speed ease-out;
        width: 176px;
        height: 176px;
        padding: 10px;
        display: inline-block;
        border: 40px solid $color1;
        position: relative;
        z-index: 0;
    }
    .left-mask,
    .right-mask {
        position: absolute;
        top: 0;
        z-index: 1;
        width: (100% / 2);
        height: (100% + 2);
        overflow: hidden;
        .circle {
            transform: rotate(225deg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .right-mask {
        right: 0;
        left: auto;
        width: (100% / 2);
        .circle {
            transform: rotate(-45deg);
            right: 0;
            left: auto;
        }
    }
    .icon {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .left-mask .circle {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $color2;
        border-left-color: $color2;
    }
    .right-mask .circle {
        border-top-color: $color2;
        border-right-color: $color2;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    @for $i from 0 through 100 {
        $percent-position: ((360/100) * $i);

        @if $i < 51 {
            &[aria-valuenow='#{$i}'] {
                .right-mask .circle {
                    transform: rotate($percent-position + $right-angle-base);
                }
            }
        } @else {
            &[aria-valuenow='#{$i}'] {
                .right-mask .circle {
                    transform: rotate(((360/100) * 50) + $right-angle-base);
                    transition-timing-function: linear;
                }
                .left-mask {
                    // animation: adjustPosition 0s linear forwards;
                    .circle {
                        transform: rotate(($percent-position + 45) + deg);
                        transition-duration: $transition-speed * ($i / 100);
                        transition-delay: $transition-speed;
                    }
                }
            }
        }
    }
    .values
    {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        .value
        {
            font-size: 12px;
            text-transform: lowercase;
            font-variant: small-caps;
            letter-spacing: 2px;
            display: block;
            &:nth-child(1)
            {
                padding-bottom: 15px;
            }
            .amount
            {
                font-size: 22px;
                display: block;
                font-variant: normal;
                // padding-top: 10px;
            }
        }
    }

    &.color-1
    {
        $color2: #6C7A89;
        $color1: #BDC3C7;
        .circle {
            border-color: $color1;
        }
        .right-mask .circle {
            border-top-color: $color2;
            border-right-color: $color2;
        }
        .left-mask .circle {
            border-bottom-color: $color2;
            border-left-color: $color2;
        }
        .value:nth-child(1) .amount
        {
            color: $color1;
        }
        .value:nth-child(2) .amount
        {
            color: $color2;
        }
    }
    &.color-2
    {
        $color2: #DB0A5B;
        $color1: #F1A9A0;
        .circle {
            border-color: $color1;
        }
        .right-mask .circle {
            border-top-color: $color2;
            border-right-color: $color2;
        }
        .left-mask .circle {
            border-bottom-color: $color2;
            border-left-color: $color2;
        }
        .value:nth-child(1) .amount
        {
            color: $color1;
        }
        .value:nth-child(2) .amount
        {
            color: $color2;
        }
    }
    &.color-3
    {
        $color2: #7ab22c;
        $color1: #fdbd2c;
        .circle {
            border-color: $color1;
        }
        .right-mask .circle {
            border-top-color: $color2;
            border-right-color: $color2;
        }
        .left-mask .circle {
            border-bottom-color: $color2;
            border-left-color: $color2;
        }
        .value:nth-child(1) .amount
        {
            color: $color1;
        }
        .value:nth-child(2) .amount
        {
            color: $color2;
        }
    }
}

@keyframes adjustPosition {
    0% {
        width: (100% / 2) - 1;
    }
    100% {
        width: (100% / 2) + 1;
    }
}