<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Feedback client</title>

        <!-- CSS -->
        <link rel="stylesheet" href="sources/css/styles.css">
    </head>
    <body class="body_client">
        <header class="client_header subhome">
            <h1 class="topTitle">live<em>Feedback</em></h1>
        </header>
        <main class="poll_client">
            <h2>Invalid Network</h2>
            <p>Por favor, conectate a la WiFi corporativa para acceder a la app</p>
        </main>
    </body>
</html>