$eye: "\e000";
$paper-clip: "\e001";
$mail: "\e002";
$toggle: "\e003";
$layout: "\e004";
$link: "\e005";
$bell: "\e006";
$lock: "\e007";
$unlock: "\e008";
$ribbon: "\e009";
$image: "\e010";
$signal: "\e011";
$target: "\e012";
$clipboard: "\e013";
$clock: "\e014";
$watch: "\e015";
$air-play: "\e016";
$camera: "\e017";
$video: "\e018";
$disc: "\e019";
$printer: "\e020";
$monitor: "\e021";
$server: "\e022";
$cog: "\e023";
$heart: "\e024";
$paragraph: "\e025";
$align-justify: "\e026";
$align-left: "\e027";
$align-center: "\e028";
$align-right: "\e029";
$book: "\e030";
$layers: "\e031";
$stack: "\e032";
$stack-2: "\e033";
$paper: "\e034";
$paper-stack: "\e035";
$search: "\e036";
$zoom-in: "\e037";
$zoom-out: "\e038";
$reply: "\e039";
$circle-plus: "\e040";
$circle-minus: "\e041";
$circle-check: "\e042";
$circle-cross: "\e043";
$square-plus: "\e044";
$square-minus: "\e045";
$square-check: "\e046";
$square-cross: "\e047";
$microphone: "\e048";
$record: "\e049";
$skip-back: "\e050";
$rewind: "\e051";
$play: "\e052";
$pause: "\e053";
$stop: "\e054";
$fast-forward: "\e055";
$skip-forward: "\e056";
$shuffle: "\e057";
$repeat: "\e058";
$folder: "\e059";
$umbrella: "\e060";
$moon: "\e061";
$thermometer: "\e062";
$drop: "\e063";
$sun: "\e064";
$cloud: "\e065";
$cloud-upload: "\e066";
$cloud-download: "\e067";
$upload: "\e068";
$download: "\e069";
$location: "\e070";
$location-2: "\e071";
$map: "\e072";
$battery: "\e073";
$head: "\e074";
$briefcase: "\e075";
$speech-bubble: "\e076";
$anchor: "\e077";
$globe: "\e078";
$box: "\e079";
$reload: "\e080";
$share: "\e081";
$marquee: "\e082";
$marquee-plus: "\e083";
$marquee-minus: "\e084";
$tag: "\e085";
$power: "\e086";
$command: "\e087";
$alt: "\e088";
$esc: "\e089";
$bar-graph: "\e090";
$bar-graph-2: "\e091";
$pie-graph: "\e092";
$star: "\e093";
$arrow-left: "\e094";
$arrow-right: "\e095";
$arrow-up: "\e096";
$arrow-down: "\e097";
$volume: "\e098";
$mute: "\e099";
$content-right: "\e100";
$content-left: "\e101";
$grid: "\e102";
$grid-2: "\e103";
$columns: "\e104";
$loader: "\e105";
$bag: "\e106";
$ban: "\e107";
$flag: "\e108";
$trash: "\e109";
$expand: "\e110";
$contract: "\e111";
$maximize: "\e112";
$minimize: "\e113";
$plus: "\e114";
$minus: "\e115";
$check: "\e116";
$cross: "\e117";
$move: "\e118";
$delete: "\e119";
$menu: "\e120";
$archive: "\e121";
$inbox: "\e122";
$outbox: "\e123";
$file: "\e124";
$file-add: "\e125";
$file-subtract: "\e126";
$help: "\e127";
$open: "\e128";
$ellipsis: "\e129";
