.body_client
{
	align-items: center;
	flex-direction: column;
}
.client_header
{
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: $paddingBase;

    background-color: $navy;
    z-index: 10;
}
.poll_client
{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $blue;
}

.poll_client-status
{
	flex: 0 0 .5em;
	display: block;
	&[data-status="conected"]
	{
		background-color: green;
	}
	&[data-status="disconected"]
	{
		background-color: red;
	}
	&[data-status="waiting"]
	{
		background-color: grey;
	}
}

.poll_client-title
{
	flex: 0 0 auto;
	text-align: center;
	padding: $paddingBase/2 $paddingBase 0;
	font-size: 1.5em;
}

.poll_client-content
{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 $paddingBase;
	box-sizing: border-box;
	text-align: center;
	&.active
	{
		justify-content: space-between;
	}
}

.poll_client-rating
{
	font-size: 1.5em;
}

.poll_client-rating_stars
{
	display: flex;
	justify-content: center;
	position: relative;
	.poll_client-rating_option
	{
		z-index: 2;
		display: inline-block;
		position: relative;
		padding: .5em;
		 // .star
   //      {
   //          color: $white;
   //      }
		@for $i from 1 to 6
		{
		    $this-color: mix($green, $pink, ($i * 20%));
	        &:nth-child(#{$i}) .star
	        {
	            color: $this-color;
	        }
		}
	}
	&:before
	{
		background-color: $navy;
    	border-radius: 1em;
    	position: absolute;
	    top: 0;
	    left: 0;
	    content: '';
	    width: 1em;
	    height: 1em;
    	z-index: 1;
    	padding: .5em;
    	opacity: 0;
    	transition: $globalTransitionBezier;
	}
}

.poll_client-rating_button
{
	padding: $paddingBase;
	display: flex;
	width: 100%;
	justify-content: center;
	[role="button"]
	{
		flex: 1;
	}
}

[name="rating"]
{
	display: none;
}

[name="rating"]:checked ~ .poll_client-rating_stars:before
{
	opacity: 1;	
}
@for $i from 1 to 6
{
	[name="rating"]:nth-child(#{$i}):checked ~ .poll_client-rating_stars:before
	{
		width: (2em * $i) - 1;
	}
}



