.body_client
{
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.client_header
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -webkit-justify-content: space-between;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    padding: $paddingBase;

    background-color: $navy;
    z-index: 10;
}
.poll_client
{
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: $blue;
}

.poll_client-status
{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 .5em;
	    -ms-flex: 0 0 .5em;
	        flex: 0 0 .5em;
	display: block;
	&[data-status="conected"]
	{
		background-color: green;
	}
	&[data-status="disconected"]
	{
		background-color: red;
	}
	&[data-status="waiting"]
	{
		background-color: grey;
	}
}

.poll_client-title
{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	text-align: center;
	padding: $paddingBase $paddingBase 0;
	font-size: 2em;
}

.poll_client-content
{
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 $paddingBase;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	&.active
	{
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.logo-container
	{
		font-size: 2em;
	}
}

.poll_client-rating
{
	font-size: 1.5em;
}

.poll_client-rating_stars
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	.poll_client-rating_option
	{
		z-index: 2;
		display: inline-block;
		position: relative;
		padding: .5em;
		 // .star
   //      {
   //          color: $white;
   //      }
		@for $i from 1 to 6
		{
		    $this-color: mix($green, $pink, ($i * 20%));
	        &:nth-child(#{$i}) .star
	        {
	            color: $this-color;
	        }
		}
	}
	&:before
	{
		background-color: $navy;
    	-webkit-border-radius: 1em;
    	        border-radius: 1em;
    	position: absolute;
	    top: 0;
	    left: 0;
	    content: '';
	    width: 1em;
	    height: 1em;
    	z-index: 1;
    	padding: .5em;
    	opacity: 0;
    	-webkit-transition: $globalTransitionBezier;
    	transition: $globalTransitionBezier;
	}
}

.poll_client-rating_button
{
	padding: $paddingBase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	[role="button"]
	{
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}
}

[name="rating"]
{
	display: none;
}

[name="rating"]:checked ~ .poll_client-rating_stars:before
{
	opacity: 1;	
}
@for $i from 1 to 6
{
	[name="rating"]:nth-child(#{$i}):checked ~ .poll_client-rating_stars:before
	{
		width: (2em * $i) - 1;
	}
}



