[role='button']
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    padding: $paddingBase;

    -webkit-transition: $globalTransition;

    transition: $globalTransition;
    text-decoration: none;

    color: $white;
    -webkit-border-radius: .2em;
            border-radius: .2em;
    background-color: $cyan;
    &:before
    {
        position: relative;
        z-index: 2;
    }
    &:hover
    {
        background-color: $white;
        color: $navy;
    }
}

.chart
{
  transform: rotate(-90deg);
}
circle:not(.background)
{
  stroke-miterlimit: 10;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: all .6s ease-in-out;
  @for $i from 0 through 100
  {
    &[aria-valuenow="#{$i}"]
    {
      stroke-dashoffset: 380 - ((380 * $i) / 100);
    }
  }
}
