.dashboard_header
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -webkit-justify-content: space-between;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    padding-left: $paddingBase;

    background-color: $navy;
    -webkit-box-shadow: 5em .5em 5em 3em $blue;
            box-shadow: 5em .5em 5em 3em $blue;
    z-index: 10;
}
.dashboard_header-action
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.dashboard_header-action_item
{
    display: inline-block;
    [role="button"]
    {
        -webkit-border-radius: 0;
                border-radius: 0;
        background-color: transparent;
        &:hover
        {
           background-color: transparent;
            color: $cyan;
        }
    }
}
