.dashboard_nav
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    width: 9.688em;

    background-color: $white;

    -webkit-align-self: stretch;

        -ms-flex-item-align: stretch;

            align-self: stretch;
    /* box-shadow: 0 0 20px 5px rgba(black, .1),
                2px 0 10px 0 rgba(black, .2); */
    .dashboard_nav-list
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;

        -webkit-box-pack: start;

        -webkit-justify-content: flex-start;

            -ms-flex-pack: start;

                justify-content: flex-start;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        li:last-child
        {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;

            -webkit-box-flex: 1;

            -webkit-flex: 1;

                -ms-flex: 1;

                    flex: 1;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            // padding: $paddingBase;
            .dashboard_nav-list_link
            {
                background-position: left top;
            }
        }
    }
    .dashboard_nav-list_item
    {
        .dashboard_logo
        {
            color: $navy;
            text-align: center;
            padding: $paddingBase;
        }
        .dashboard_nav-list_link
        {
            font-size: .875em;

            z-index: 1;

            display: -webkit-box;

            display: -webkit-flex;

            display: -ms-flexbox;

            display: flex;
            // margin: 0 $paddingBase;
            // padding: $paddingBase 0;
            -webkit-border-radius: 0;
                    border-radius: 0;

            background-color: $white;
            color: lighten($gray, 50);

            -webkit-box-pack: justify;

            -webkit-justify-content: space-between;

                -ms-flex-pack: justify;

                    justify-content: space-between;
            &:hover,
            &.active
            {
                color: $white;
                background-color: $navy;
            }
        }
    }
}
