.dashboard_header
{
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-left: $paddingBase;

    background-color: $navy;
    box-shadow: 5em .5em 5em 3em $blue;
    z-index: 10;
}
.dashboard_header-action
{
    display: flex;
    .dashboard_header-action_item
    {
        display: inline-block;
        [role="button"]
        {
        	border-radius: 0;
        	background-color: transparent;
        }
    }
}
