.dashboard_nav
{
    display: flex;

    width: 9.688em;

    background-color: $white;

    align-self: stretch;
    /* box-shadow: 0 0 20px 5px rgba(black, .1),
                2px 0 10px 0 rgba(black, .2); */
    .dashboard_nav-list
    {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        flex: 1;
        li:last-child
        {
            display: flex;
            flex-direction: column;

            flex: 1;
            justify-content: flex-end;
            // padding: $paddingBase;
            .dashboard_nav-list_link
            {
                background-position: left top;
            }
        }
    }
    .dashboard_nav-list_item
    {
        .dashboard_logo
        {
            color: $navy;
            text-align: center;
            padding: $paddingBase;
        }
        .dashboard_nav-list_link
        {
            font-size: .875em;

            z-index: 1;

            display: flex;
            // margin: 0 $paddingBase;
            // padding: $paddingBase 0;
            border-radius: 0;

            background-color: $white;
            color: lighten($gray, 50);

            justify-content: space-between;
            &:hover,
            &.active
            {
                color: $white;
                background-color: $navy;
            }
        }
    }
}
