.logo-container {
    padding: $paddingBase;
    display: flex;
    justify-content: center;
    .star-logo {
        font-size: 4em;
        width: 1em;
        height: 1em;
    }
}

@keyframes starAnimation
{
    0%
    {
        // transform: rotate(72deg * $i);
    }
}