/* Variables */
$anim-timing: 5s;

.logo-container {
    height: 6.25em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    .star-logo {
        font-size: 4em;
        width: 1em;
        height: 1em;
        path
        {
            fill: $cyan;
        }
        .st0 {
            opacity: 0.6;
        }
        
        .st1 {
            opacity: 0.5;
        }
        
        .st2 {
            opacity: 0.4;
        }
        
        .st3 {
            opacity: 0.3;
        }
        
        .st4 {
            opacity: 0.2;
        }
        &.animation
        {
            -webkit-animation: starAnimation $anim-timing linear infinite;
                    animation: starAnimation $anim-timing linear infinite;
            .st0 {
                -webkit-animation: bling-1 $anim-timing linear infinite;
                        animation: bling-1 $anim-timing linear infinite;
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;
            }
            .st4 {
                -webkit-animation: bling-5 $anim-timing linear infinite;
                        animation: bling-5 $anim-timing linear infinite;
                -webkit-animation-delay: 1s;
                        animation-delay: 1s;
            }
            .st3 {
                -webkit-animation: bling-4 $anim-timing linear infinite;
                        animation: bling-4 $anim-timing linear infinite;
                -webkit-animation-delay: 2s;
                        animation-delay: 2s;
            }
            .st2 {
                -webkit-animation: bling-3 $anim-timing linear infinite;
                        animation: bling-3 $anim-timing linear infinite;
                -webkit-animation-delay: 3s;
                        animation-delay: 3s;
            }
            .st1 {
                -webkit-animation: bling-2 $anim-timing linear infinite;
                        animation: bling-2 $anim-timing linear infinite;
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;
            }
        }
    }
}

.client_header {
    &.subhome {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .logo-container {
        height: auto;
        .star-logo {
            font-size: 2em;
            margin-right: 0.5em;
        }
    }
}

@-webkit-keyframes starAnimation
{
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes starAnimation
{
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@for $i from 1 to 6
{
    @-webkit-keyframes bling-#{$i}
    @keyframes bling-#{$i}
    {
        0%
        {
            opacity: (0.7 - ($i / 10));
        }
        5%
        {
            opacity: (0.7 - ($i / 10))+0.3;
        }
        10%
        {
            opacity: (0.7 - ($i / 10));
        }
        100%
        {
            opacity: (0.7 - ($i / 10));
        }
    }
}