.logo-container {
    padding: $paddingBase;
    display: flex;
    justify-content: center;
    .star-logo {
        position: relative;
        font-size: 4em;
        .arm
        {
            width: 1em;
            height: 1em;
            display: inline-block;
            border-radius: 1em;
            background-color: red;
            &:before
            {
                content: '';
                display: inline-block;
                position: absolute;
                
            }
        }
        /* .patricio {
            width: 1em;
            height: 1em;
            transform-origin: 0.5em 0.73em;
            g path {
                fill: rgba($blue, .6);
            }
            &:not(:first-child) {
                position: absolute;
                left: 0;
                top: 0;
            }
            @for $i from 1 to 6
            {
                &:nth-child(#{$i})
                {
                    transform: rotate(72deg * $i);
                    g path {
                        fill: rgba($blue, (1 * ($i/10)));
                    }
                }
            }
        } */
    }
}

@keyframes starAnimation
{
    0%
    {
        // transform: rotate(72deg * $i);
    }
}