@charset "UTF-8";
@import 'compass/css3';
@import 'compass/reset';
@include font-face("BBVA Book", font-files("bbvaweb-book.ttf", "bbvaweb-book.otf"));
@include font-face("BBVA Light", font-files("bbvaweb-light.ttf", "bbvaweb-light.otf"));


@import 'icons';
$white: #f0f0f0;
$gray: #303030;
$navy: #2d3e50;
$blue: #37495d;
$cyan: #2F82B8;
$green: #6DB53D;
$yellow: #A89F2B;
$pink: #F73292;

$bbva_blue: #009ee5;
$bbva_green: #59c000;
$bbva_pink: #cc0966;
$bbva_yellow: #fdbd2c;
$bbva_orange: #f39200;


$paddingBase: 1em;
$globalTransition: all .3s ease-in-out;
$globalTransitionBezier: all 0.5s cubic-bezier(0.6, -0.54, 0.44, 1.47);

$book: 'BBVA Book', sans-serif;
$light: 'BBVA Light', sans-serif;

.blueGradient{
  @include background-image(linear-gradient(120deg, #00A7E2, #006EC1));
}

@function goldenCalc($amount) {
    @return ($amount * 1.618) - $amount;
}

.global-padding
{
    padding: $paddingBase;
}

.accesible-hide
{
    text-indent: 9000px;
    position: absolute;
    height: 0;
    overflow: hidden;
}

.txt_size-medium
{
    font-size: 1em;
}
.center-self{
  text-align: center;
}

em
{
    font-weight: 700;
}

html,
body
{
    font-family: 'BBVA Book', sans-serif;

    position: relative;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;
    height: 100%;

    color: $white;
    @extend .blueGradient;
}
main{overflow: auto;}
//flexbox helpers
.flex-container{
  display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-expand{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.flex-nowrap{
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-column{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-start{
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.align-center{
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
strong{
  font-family: $book;
}

@import '../components/pure-css-charts/scss/pie-chart.scss';
@import 'dashboard';
@import 'client';
@import 'star';
