@charset "UTF-8";
@import 'compass/css3';
@import 'compass/reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,300);

 
@import 'icons';
$white: #f0f0f0;
$gray: #303030;
$navy: #2d3e50;
$blue: #37495d;
$cyan: #2F82B8;
$green: #6DB53D;
$yellow: #A89F2B;
$pink: #F73292;
$paddingBase: 1em;
$globalTransition: all .3s ease-in-out;

@function goldenCalc($amount) {
	@return ($amount * 1.618) - $amount;
}

.global-padding
{
    padding: $paddingBase;
}

.accesible-hide
{
    text-indent: 9000px;
    position: absolute;
    height: 0;
    overflow: hidden;
}

em
{
    font-weight: 700;
}

html,
body
{
    font-family: 'Open Sans', sans-serif;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: $white;
    background-color: $blue;
}

@import '../components/pure-css-charts/scss/pie-chart.scss';
@import 'dashboard';
@import 'client';
@import 'star';